<header class="bg-success py-2">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-white">
      <h2 class="display-4 fw-bolder">あなたの移住体験談</h2>
    </div>
  </div>
</header>

<%= render "shared/error", obj: @blog %>

<section class="section mb-5">
  <div class="container mt-5">
  <br>
    <h1></h1>
  <br>    
    <div class="row">
      <div class="col-10">
          <%= form_for @blog do |f| %>
              <div class="form-group">
                <%= f.label :title_blog, "・タイトル", class: "label mt-4" %>
                <%= f.text_field :title_blog, class: "form-control" ,placeholder:"東京"%>
              </div>

              <div class="form-group">
                <%= f.label :body_blog, "・", class: "label mt-4" %>
                <%= f.text_area :body_blog, class: "form-control" ,placeholder:"山梨県" %>
              </div>
              
              <div class="form-group">
                <%= f.label :blog_image, "・写真", class: "label mt-4" %>
                <%= f.attachment_field :blog_image, class: "form-control-file" %>
              </div>

              <%= f.submit '投稿', class: "btn btn-outline-primary  mt-4 mr-5" %>
              <%= link_to '前のページに戻る', subhome_index_path ,class: "btn btn-primary mt-4"%>
          <% end %>
      </div>
    </div>
  </div>
</section>