<% @comments.each do |comment| %>
    <% unless comment.id.nil? %>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <%= comment.content %>
                <% if comment.user == current_user %>
                    <div class="mt-3">
                        <%= button_to normal_comment_path(comment.normal_id, comment.id), method: :delete, remote: true, class: "comment_destroy mt-3" do %>
                        <i class="fas fa-trash" style="color: black;"></i>
                        コメントの削除
                        <% end %>
                    </div>
                <% end %>
                <div class="mt-3">
                    <%= link_to user_path(comment.user) do %>
                        <%= comment.user.username %>
                    <% end %>
                </div>
                <span class="comment-date">
                    <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </span>
            </div>
        </div>
    <% end %>
<% end %>