<header class="bg-success py-2">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-white">
          <h2 class="display-4 fw-bolder">みんなの移住体験談</h2>
      </div>
  </div>
</header>

<div class="py-2 bg-light">
    <div class="container px-2 my-5">
        <div class="row gx-5">
            <div class="card shadow p-5  mx-auto mt-5 col-10">
                <table class="table mt-5">
                    <h2 class="form-area-title"><%=@lifestyle.user.username %>さんの体験談</h2>
                    <tr><th>・移住先の一ヶ月の生活費</th></tr>
                    <tr><td><%= @lifestyle.price_life %></td></tr>
                    <tr><th>・住まいの探し方</th></tr>
                    <tr><td><%= simple_format @lifestyle.house_life %></td></tr>
                    <tr><th>・移住先の近所付き合いについて</th></tr>
                    <tr><td><%= simple_format @lifestyle.dating_life %></td></tr>
                    <tr><th>・移住の際に利用した制度について</th></tr>
                    <tr><td><%= simple_format @lifestyle.system_life %></td></tr>
                </table>
                <div class="panel-block">
                    <%= render "good_lifestyles/goodlifestyle"%>  
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-3">
            <%= attachment_image_tag @lifestyle.user, :profile_image , fallback: "no-image.png" ,:size =>'300x400'%>
            </div>
            <div class="col-md-8">
                <h3>投稿者：<%= @lifestyle.user.username %>さん</h3>
            <p class="mt-4"><%= @lifestyle.user.profile %></p>
            <% if user_signed_in? %>
                <% if @lifestyle.user_id != current_user.id %>
                    <%= link_to "投稿者情報を確認", user_path(@lifestyle.user),class: "btn btn-outline-primary mb-3" %>
                <% end %>
            <% else %>
                <%= link_to 'ログインして投稿者を確認する', new_user_session_path ,class: "btn btn-outline-primary mb-3" %>
            <% end %>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-2 my-5">
        <div class="row">
            <% if user_signed_in? %>
                <div class="comment col-md-4">
                    <h3>コメントする</h3>
                    <%= render partial: 'comments/form_lifestyle', locals: { comment: @comment, lifestyle: @lifestyle } %>
                </div>
            <% end %>
            <div class="comment col-md-4 mb-3">
                <%= @comments.count %>件コメント
                <div>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        コメントを見る
                    </a>
                </div>
                <%= render partial: 'comments/index_lifestyle', locals: { comments: @comments } %>
            </div>
        </div>
    </div>
</section>

