<header class="bg-success py-3">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">みんなの移住体験談</h1>
          <p class="lead fw-normal text-white-50 mb-0 mt-5">あなたの体験談を教えて下さい</p>
          <% if user_signed_in? %>
            <%= link_to "投稿する", new_work_path(@work), class: "btn btn-warning mt-3" %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path ,class: "btn btn-warning" %>
          <% end %>
      </div>
  </div>
</header>

<section class="section">
  <div class="container mt-5">
    <% @works.each do |work| %>
    <table class="table table-striped table-bordered">
      <% if user_signed_in? %>
        <caption><%= link_to "投稿者情報を確認", user_path(work.user) %></caption>
      <% end %>
      <tr>
      <th>ユーザー名</th>
      <th>移住前のお仕事は？</th>
      <th>移住後のお仕事は？</th>
      <th>お仕事探しについてのアドバイス</th>
      <th>投稿時間</th>
      </tr>
      <tr>
      <td><%= work.user.username %></td>
      <td><%= work.before_work %></td>
      <td><%= work.current_work %></td>
      <td><%= link_to "仕事についてのアドバイスを見てみる", work_path(work) %></td>
      <td><%= work.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <%=paginate @works, theme: 'twitter-bootstrap-4' %>
</section>