<nav class="navbar navbar-light navbar-dark bg-dark">
  <a class="navbar-brand">お住まいの登録 </a>
</nav>

<%= render "shared/error", obj: @user %>

<section class="section">
  <div class="container mt-5">
  <br>
    <h1>プロフィール編集画面</h1>
  </br>
    <div class="row mb-5">
      <div class="col-10">
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :username, "・あなたの名前", class: "label" %>
            <%= f.text_field :username, class: "form-control" ,placeholder:"鈴木　花子"%>
          </div>
          
          <div class="form-group">
            <%= f.label :email, "・メールアドレス", class: "label" %>
            <%= f.text_field :email, class: "form-control" ,placeholder:"email@email.co.jp" %>
          </div>
          
          <div class="form-group">
            <%= f.label :profile, "・自己紹介文", class: "label" %>
            <%= f.text_area :profile, :rows => "5", class: "form-control" ,placeholder:"こんにちは" %>
          </div>
          
          <div class="form-group">
            <%= f.label :profile_image, "・プロフィール画像", class: "label" %>
            <%= f.attachment_field :profile_image, class: "form-control-file" %>
          </div>
          
          <%= f.submit '更新', class: "button is-success",class: "btn btn-primary mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
