<nav class="navbar navbar-light navbar-dark bg-dark">
    <a class="navbar-brand">お住まいの登録 </a>
</nav>

<article class="reservation-index mb-5">
<div class="container mt-5">
<h2 class="title">お部屋の予約済み一覧</h2>
  <table class="table table-striped">
    <thead class="thead-lignt">
      <tr>
        <th>部屋名</th>
        <th>部屋の写真</th>
        <th>チックイン日</th>
        <th>チックアウト日</th>
        <th>宿泊期間</th>
        <th>人数</th>
        <th>合計金額</th>
        <th>予約確定日時</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <div class="reservation-list">
        <tr>
          <% @reservation.each do |reservation| %>
          <% if reservation.user_id == current_user.id %>
            <td><%= link_to reservation.room.room_name, room_path(reservation.room_id) %></td>
            <td><%= link_to room_path(reservation.room_id) do %>
              <%= attachment_image_tag reservation.room, :room_image , fallback: "no-image.png",:size =>'120x120'%>
              <% end %>
            </td>
            <td><%= reservation.start_at.to_fs(:stamp)%></td>
            <td><%= reservation.end_at.to_fs(:stamp) %></td>
            <td><%= reservation.total_day %>日</td>
            <td><%= reservation.number_people %>人</td>
            <td>¥<%= reservation.total_price %></td>
            <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
            <td><%= button_to "削除", reservation , method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          <% end %>
        </tr>
          <% end %>
      </div>
    </tbody>
  </table>
</div>
</article>