<nav class="navbar navbar-light navbar-dark bg-dark">
  <a class="navbar-brand">お住まいの登録 </a>
</nav>

<section class="section mb-3">
  <div class="container mt-5 mb-5">
  <h2 class="title mb-5">お部屋の予約済み一覧</h2>
    <div class="row">
      <div class="col-12">
        <% @user.reservations.each do |reservation| %>
        <table class="table table-bordered table-striped mb-5">
          <tr>
            <th>部屋名</th>
            <td><%= link_to reservation.room.room_name, room_path(reservation.room_id) %></td>
          </tr>
          <tr>
            <th>部屋の写真</th>
            <td>
              <%= link_to room_path(reservation.room_id) do %>
                <%= attachment_image_tag reservation.room, :room_image , fallback: "no-image.png",:size =>'120x120'%>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>チックイン日</th>
            <td><%= reservation.start_at.to_fs(:stamp)%></td>
          </tr>
          <tr>
            <th>チックアウト日</th>
            <td><%= reservation.end_at.to_fs(:stamp) %></td>
          </tr>
          <tr>
            <th>宿泊期間</th>
            <td><%= reservation.total_day %>日</td>
          </tr>
          <tr>
            <th>一泊の宿泊料金</th>
            <td><%= reservation.room.room_price %>円</td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= reservation.number_people %>人</td>
          </tr>
          <tr>
            <th>合計金額</th>
            <td><%= reservation.total_price %>円　　(計算式：宿泊期間<%= reservation.total_day %>日　×　人数<%= reservation.number_people %>人　×　１泊の宿泊料<%= reservation.room.room_price %>円)</td>
          </tr>
          <tr>
            <th>予約確定日時</th>
            <td><%= reservation.created_at.to_fs(:stamp) %></td>
          </tr>
          <tr>
            <% if reservation.user_id == current_user.id %>
              <th>キャンセルする</th>
              <td><%= button_to "削除", reservation , method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            <% end %>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</section>